@using SmartIMS.Web.Services
@inject SystemSettingsService Settings
@{
    var skin = await Settings.GetSkinAsync();
}
<!DOCTYPE html>
<html lang="zh-Hant" data-skin="@skin.SkinKey">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="login-body">
    @RenderBody()
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
